@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

@import "~bootstrap/scss/_functions";

@import "variables";
@import "datepicker-variables";

@import "~react-datepicker/src/stylesheets/datepicker";
@import "~bootstrap/scss/bootstrap";

@mixin recolor($color: #000, $opacity: 1) {
  $r: red($color) / 255;
  $g: green($color) / 255;
  $b: blue($color) / 255;
  $a: $opacity;

  // grayscale fallback if SVG from data url is not supported
  $lightness: lightness($color);
  filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);

  // color filter
  $svg-filter-id: "recolor";
  filter: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
        <feColorMatrix type="matrix" values="\
          0 0 0 0 #{$r}\
          0 0 0 0 #{$g}\
          0 0 0 0 #{$b}\
          0 0 0 #{$a} 0\
        "/>\
      </filter>\
    </svg>\
    ##{$svg-filter-id}');
}

.ff-poppins {
  font-family: "Poppins", $font-family-sans-serif;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.dashboard {
  height: calc(100vh - 88px);
}

.form-switch {
  &.form-check-reverse {
    text-align: left;
  }
  .form-check-input:checked {
    background-color: $teal;
    border-color: $teal;
  }
}

.background-wave {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    background: url(/images/home/wave.svg) center center no-repeat;
    background-size: 100% auto;
    height: 623px;
    z-index: -1;
  }
}

.card {
  .card-title {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .card-subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: $gray-500;
  }

  .card-text {
    font-size: 1.2rem;
  }

  &.card-signup {
    cursor: pointer;
    transition: all 150ms ease;
    border: 3px solid transparent;
    .card-title {
      font-size: 1.8rem;
    }
    .card-subtitle,
    .card-text {
      font-size: 1.4rem;
    }
    .card-img-container {
      width: 100px;
      height: 100px;
      position: relative;
      margin: 20px auto 0;
      overflow: hidden;
      padding: 10px;
    }
    &:hover {
      border: 3px solid $light;
    }
    &.active {
      background-color: $light;
      border: 3px solid $primary;
      .card-img-container {
        img {
          @include recolor($primary, 1);
        }
      }
    }
  }
}

.btn-light {
  background-color: $gray-400;
}

.badge.bg-light {
  color: $gray-600;
}

.badge.bg-light {
  color: $gray-500;
}

.badge.bg-warning {
  color: $warning;
  background-color: #fdf4e0 !important;
}

.badge.bg-success {
  color: $success;
  background-color: #edffe1 !important;
}

.PhoneInput {
  display: flex;
  .PhoneInputInput {
    outline: none;
    border: 0;
  }
}

.input-group-text {
  &:first-child {
    border-right: 0;
    + input {
      border-left: 0;
      padding-left: 0;
      &:not(:last-child) {
        border-right: 0;
      }
    }
  }
  &:last-child {
    border-left: 0;
  }
}

.container-md {
  max-width: 855px;
}

.col-form-label {
  font-size: $form-label-font-size;
}

.react-datepicker-popper {
  z-index: 10000000;
}

.react-select > div {
  min-height: 48px;
}

.tox-statusbar__branding {
  display: none;
}

.navbar {
  box-shadow: 0px 1px 0px rgba(87, 136, 242, 0.15);
}

.breadcrumb-item > a {
  color: $body-color;
}

.category-box a {
  min-height: 200px;
}

.college-draw,
.students-draw {
  position: relative;
  display: inline-block;
  &:before {
    content: "";
    position: absolute;
  }
}

.college-draw:before {
  width: 167px;
  height: 21px;
  background: url(/images/home/college-draw.svg) center center no-repeat;
  left: -5px;
  bottom: 0px;
}
.students-draw:before {
  width: 353px;
  height: 54px;
  background: url(/images/home/students-draw.svg) center center no-repeat;
  right: -50px;
  bottom: -22px;
}

#react-select-3-listbox {
  z-index: 100;
}
