@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

@import "~bootstrap/scss/_functions";

@import "variables";
@import "datepicker-variables";

@import "~react-datepicker/src/stylesheets/datepicker";
@import "~bootstrap/scss/bootstrap";

.ff-poppins {
  font-family: "Poppins", $font-family-sans-serif;
}

.background-wave {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: url(/images/wave-background.png) center center no-repeat;
    background-size: 100% auto;
    height: 457px;
    z-index: -1;
  }
}

.card {
  cursor: pointer;
  &.active {
    background-color: $gray-400;
  }
  .card-img {
    padding: 12.5px;
    border: 1px solid $black;
    display: block;
    max-width: 70px;
    max-height: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px auto;
    background: $white;
    &.no-border {
      border: 0;
    }
  }
  .card-title {
    font-size: 18px;
    font-weight: 600;
  }
  .card-text {
    font-size: 14px;
  }
}

.btn-light {
  background-color: $gray-400;
}

.form-control .PhoneInputInput {
  outline: none;
  border: 0;
}

.shadow {
  @include media-breakpoint-down(md) {
    box-shadow: none !important;
  }
}

.input-group-text {
  &:first-child {
    border-right: 0;
    + input {
      border-left: 0;
      padding-left: 0;
      &:not(:last-child) {
        border-right: 0;
      }
    }
  }
  &:last-child {
    border-left: 0;
  }
}

.container-md {
  max-width: 855px;
}

.col-form-label {
  font-size: $form-label-font-size;
}

.react-datepicker-popper {
  z-index: 10000000;
}

.react-select > div {
  min-height: 48px;
}

.tox-statusbar__branding {
  display: none;
}
