.or {
  font-weight: 500;
  font-size: 17.8889px;
  line-height: 21px;
  margin: 30px 0;
  color: #b0b7c3;
}

.input {
  background: #ffffff;
  border: 0.75px solid #cad4dd;
  border-radius: 5px;
  height: 52px;

  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* or 185% */

  display: flex;
  align-items: center;
  margin-bottom: 30px;

  color: #b0b7c3;
}

.forgot {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  display: flex;
  align-items: center;

  /* Header 1 */

  color: #323b4b;

  /* Inside auto layout */

  flex: none;
  order: 6;
  flex-grow: 0;
}

.magiclink {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #8a94a6;

  /* Inside auto layout */

  flex: none;
  order: 8;
  flex-grow: 0;
}
